.calculator-container {
  
  width: auto;
  padding: 5rem;
  background: black;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
